/*!
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 *               CASCADE FRAMEWORK 1.0
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 *
 * Copyright 2013, John Slegers
 * Released under the MIT license
 * http://jslegers.github.com/cascadeframework/license.html
 *
 *
 * This means you can use Cascade Framework for any project,
 * whether commercial or not.
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * 
 * Cascade Framework also contains the following goodies,
 * which all have the same or similar 'permissive licenses :
 *
 *
 * Includes polyfills by Joshua Bell
 * http://www.calormen.com/polyfill/
 * Released in public domain
 *
 *
 * Includes Google ExplorerCanvas
 * https://code.google.com/p/explorercanvas/
 * Released under the Apache 2.0 license
 *
 *
 * Includes Google Prettify
 * https://code.google.com/p/google-code-prettify/
 * Released under the Apache 2.0 license
 *
 *
 * Includes Yepnope
 * http://yepnopejs.com/
 * Released under the WTFPL license
 *
 *
 * Includes Modernizr
 * http://modernizr.com/
 * Released under the MIT license
 *
 *
 * Includes lodash
 * http://lodash.com/
 * Released under the MIT license
 *
 *
 * Includes jQuery
 * http://jquery.com/
 * Released under the MIT license
 *
 *
 * Includes jQuery Easing plugin
 * http://gsgd.co.uk/sandbox/jquery/easing/
 * Released under the BSD license
 *
 *
 * Includes jQuery Flot plugin
 * http://www.flotcharts.org/
 * Released under the MIT license
 *
 *
 * Includes the Font Awesome webfont
 * http://fortawesome.github.com/Font-Awesome/
 * Released under the SIL Open Font License
 *
 *
 *
 *
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * Cascade Framework was inspired by many articles and projects
 * 
 * Especially these authors are worth mentioning :
 *             
 *             Nicolle Sullivan
 *             Jonathan Snook
 *             Chris Coyier
 *             Eric Meyer
 *             Nicolas Gallagher
 *             Paul Irish
 *             Mark Otto
 *             Jacob Thornton
 *
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * Date: 2013-03-15
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*/



div,main,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,pre,.nav,.nav a,.width-fill,.width-fit img,blockquote small,address,button,.button,.nav ul,.nav li,.logo {
    display:block;*zoom:1;
}

.pipes .stat span,.menu .tiny {
    display:block;
}

.center {
    display:block !important;
}

audio,canvas,video,img,input,label,textarea,.menu .stat span,.icon,.label,.pipes a,.files .tree a {
    display:inline-block;*display:inline;*zoom:1;
}

figcaption,div:after,main:after,article:after,aside:after,details:after,figcaption:after,figure:after,footer:after,header:after,
hgroup:after,nav:after,section:after,pre:after,.nav:after,.nav a:after,.width-fill:after,.width-fit img:after,
blockquote small:after,address:after,.nav ul:after,.nav li:after {
    clear:both;
}


div:before,div:after,main:before,main:after,article:before,article:after,aside:before,aside:after,details:before,details:after,
figcaption:before,figcaption:after,figure:before,figure:after,footer:before,footer:after,
header:before,header:after,hgroup:before,hgroup:after,nav:before,nav:after,section:before,section:after,
pre:before,pre:after,.nav:before,.nav:after,.nav a:before,.nav a:after,.width-fill:before,.width-fill:after,
.width-fit img:before,.width-fit img:after,blockquote small:before,blockquote small:after,address:before,address:after,
.nav ul:before,.nav ul:after,.nav li:before,.nav li:after {
    content:""; display:table;
}

li {
    display:list-item;
}

[hidden] {
    display:none;
}

audio:not([controls]) {
    display:none;
}

.tabs .nav {
    float:none;
}

section,article,header,footer,aside,nav,img,.nav,.col,.tabs,.tab-content,.width-fit,.nav li,button,.button,.button-group,.nav a,.left li li,.tabs .left,.right li li {
    float:left;
}

.width-fill {
    display:table-cell;
    float:none;
    _float:left;
}

.tabs .right {
    float:right;
}

.gallery img,.left li,.right li,.left a,.right a,.tree,.tree li,.menu .nav,.pipes a,.tree a {
    float:none;
}

.site-center,.center {
    float:none !important;
}

sub,sup,body,fieldset,legend,.center,.site-center,.nav li,.nav a,.site-header,.site-header-ghost,.site-footer {
    position:relative;
}

td,th {
    *position:relative;
}

.nav {
    _position:relative; 
}

.pipes li{
    position:static;
}

.site-header-fixture .site-header,.menu .data {
    top:0;
    right:0;
}

.site-footer-fixture .site-footer {
    bottom:0;
}

.site-header-ghost {
    _position:absolute;
}

.site-footer-fixture,.menu .data {
    position:absolute;
}

.site-footer-fixture .site-footer,.site-header-fixture .site-header {
    position:fixed;
    z-index:9900;
}

.site-header-fixture .site-header *,.site-footer-fixture .site-footer * {
    z-index:9999;
}

.radio,.checkbox {
    position:relative;
    *top:-5px;
}

sup {
    top:-0.5em;
}

sub {
    bottom:-0.25em;
}

fieldset {
    margin:0 2px;
    padding:0.35em 0.625em 0.75em;
}

ol.linenums {
    margin:0 0 0 33px;
}

.tree ul {
    margin-left:15px;
}

body,blockquote,blockquote p,dl,table,address,pre,p,dd,figure,legend,
form,button,input,select,textarea,h1,h2,h3,h4,h5,h6,figure img,.nav,.panel .body,.menu .tree ul,.button-group .button {
    margin:0;
}

.tags .nav li {
    margin:2px;
}

.cell {
    margin:10px;
}

form .cell,.mediaobject .cell {
    margin:4px;
}

ul,ol {
    margin:0 0 9px 25px;
}

.pipes li{
    margin:0 6px 0 -6px;
}

hr,.page-header {
    margin:18px 0;
}

.site-center .site-body {
    margin-top:20px;
}

ul ul,ul ol,ol ol,ol ul,.gallery img {
    margin-bottom:0;
}

.pipes .stat span {
    margin-top:2px;
}

.cell > :last-child {
    margin-bottom :0;
}

blockquote,dl,table,address {
    margin-bottom:18px;
}

pre,p {
    margin-bottom:9px;
}

img {
    margin-bottom:4px;
}

input[type=radio],input[type=checkbox] {
    margin-bottom:4px;
    *margin:0;
}

dd {
    margin-left:9px;
}

img,.icon {
    margin-right:4px;
}

.icon {
    margin-left:4px;
}

button,.button,.label,.button-group {
    margin-right:5px;
}

.top-nav .tab-content {
    margin-top:-1px;
}

.bottom-nav .tab-content {
    margin-bottom:-1px;
}

.left-nav .tab-content {
    _margin-left:-1px;
}

.right-nav .tab-content {
    *margin-right:-1px;
}

.tab-block-2d.right-nav .tab-content {
    margin-top:0;
}

legend {
    *margin-left:-7px;
}

.icon-collapse {
    margin-right:11px;
}

.tabs a {
    margin:1px 2px -1px 0;
}

.tabs .bottom a {
    margin:-1px 2px 1px 0;
}

.tabs .left a {
    margin:0 -1px 2px 1px;
}

.tabs .right a {
    margin:0 1px 2px -1px;
}

.pagination li {
    margin:0 4px 0 0;
}

.button .icon {
    margin:0 0 0 1px;
    *margin:2px 1px 0 3px;
}

.center,.site-center {
    margin-left:auto !important;
    margin-right:auto !important;
}

code {
    padding:3px 4px;
}

pre {
    padding:0 3px 2px;
}

th,td,.nav .disabled,.nav a,.menu .data,.prettyprint {
    padding:8px;
}

.menu-tabs .menu .nav {
    padding:6px;
}

ol.linenums li {
    padding-left:12px;
}

.panel .header,.panel .footer {
    padding:5px 10px;
}

.pipes li,.pipes .disabled {
    padding:0 6px;
}

label {
    padding:5px;
}

.button {
    padding:4px 10px;
}

input.button,button,button.button {
    *padding:3px 9px 1px;
}


input,textarea,.tags .nav li.disabled,select,.tags .nav a,.icon-button {
    padding:4px 4px;
}

button.icon-button {
    *padding:3px 3px 1px;
}

select {
    padding-left:0;
}

.pagination a,.tags .blocks li.disabled,.tags .blocks a {
    padding:4px 8px;
}

.site-header .nav a,.site-header-ghost .nav a {
    padding:8px 16px;
} 

ul,ol,legend,blockquote,td input,pre code,.menu .header,.pipes a,.gallery a {
    padding:0;
}

blockquote {
    padding-left:15px;
}

.page-header {
    padding-bottom:17px;
}

.tree a {
    padding:0 7px 0 27px;
}

.menu .tree a {
    padding:4px 7px 4px 34px;
    *padding:4px 7px 4px 35px;
    _padding:4px 7px 4px 38px;
}

.menu .tree .collapse-trigger {
    padding:4px 7px;
}

.label {
    padding:2px 4px;
}

.links .menu a {
    padding:7px 0;
}

.menu .tiny {
    padding:6px 8px;
}

.tabs a {
    padding:0 15px;
}

.tabs .active a {
    padding:0 14px;
}

.tab-block .body .tabs .nav {
    padding-left:9px;
}

.icon-16 {
    width:16px;
}

.icon-32 {
    width:32px;
}

.icon-64 {
    width:64px;
}

.icon-128 {
    width:128px;
}

.button .icon {
    height:18px;
    width:18px;
}

section,article,header,footer,aside,nav,.col,.tabs {
    min-height:1px;
}

.fluid {
    min-width:200px !important;
    width:80% !important;
}

.width-fill {
    min-width:50px;
}

main,section,article,header,footer,aside,nav,.site-footer,.site-header,table,.col,.tabs,.tab-content,.tabs .nav,figure img,.tree li {
    width:100%;
}

.tabs .nav,.tab-content {
    _width:auto;
}

.width-fit {
    width:auto;
    _width:1px;
}

.site-center {
    width:920px;
    min-width:200px;
}

.width-fill {
    width:10000px;*width:auto;
}

select {
    width:220px;
}

table input {
    width:100%;
    //width:99%;
    height:18px;
    //height:98%;
}

html,body {
    height:100%;
}

img {
    height:auto;
}

.logo {
    width:32px;
    height:32px;
}

select {
    height:28px;
}

table {
    border-collapse:separate; border-spacing:0; *border-collapse:collapse; empty-cells:show;
}

.icon {
    border-style:none;
}

main,section,article,header,footer,aside,nav,div,table,col,th,td,img,figure,fieldset,pre,code,abbr,span,ol,ul,li,a,button,input,hr,select,textarea,blockquote,td input,.icon-border,.checkbox,.radio,.datasheet table.body {
    border:0 solid #ccc;
}

blockquote {
    border-left-width:5px;
}

hr {
    border-top-width:1px;
}

pre,textarea,code,input,button,select,.button,.pagination a,.tab-content,.icon-border,.files .tree a {
    border-width:1px;
}

hr,abbr,.tabs .nav,.page-header {
    border-bottom-width:1px;
}

.tab-block-2d .tab-content,.menu-tabs .tab-content {
    border-top-width:0;
}

html>body .tab-block-2d .tab-content {
    *border-top-width:1px;
}

html>body .tab-block-2d.right-nav .tab-content {
    border-top-width:0;
}

.tabs .nav a {
    border-width:0 0 1px 0;
}

.panel .header,.panel .body,.panel .footer {
    border-width:0 1px 1px 0;
}

.tab-block .header,.tabs .left,.tabs .left a {
    border-width :0 1px 0 0;
}

.collapsed .header {
    border-width:0 1px 1px 0;
}

.panel {
    border-width:1px 0 0 1px;
}

.tabs .bottom,.tabs .bottom a,.tab-block .body .tab-content {
    border-width:1px 0 0 0;
}

.pipes li,.tabs .right,.tabs .right a {
    border-width:0 0 0 1px;
}

.tabs .nav .active a {
    border-width:1px 1px 0 1px;
}

.tabs .bottom .active a {
    border-width:0 1px 1px 1px;
}

.tabs .left .active a {
    border-width:1px 0 1px 1px;
}

.tabs .right .active a {
    border-width:1px 1px 1px 0;
}

.button-group {
    border-width:0 0 1px 1px;
}

.button-group .button {
    border-width:1px 1px 0 0;
}

.icon-32 {
    border-width:2px;
}

.icon-64 {
    border-width:3px;
}

.icon-128 {
    border-width:4px;
}

abbr {
    border-style:dotted;
}

body,.nav li,ul,ol {
    overflow:visible;
}

button,input {
    *overflow:visible;
}

textarea {
    overflow:auto; resize:none;
}

.pipes,table input {
    overflow:hidden;
}

svg:not(:root) {
    overflow:hidden;
}

html {
    overflow-y:scroll; -webkit-overflow-scrolling:touch;
}

.site-header-ghost {
    visibility:hidden;
}

.icon {
    text-align:center;
}

.tabs .left {
    text-align:right;
}

th {
    text-align:left;
}

p {
    text-align:justify;
}

ul {
    list-style:disc;
}

ol {
    list-style:decimal;
}

.nav {
    list-style-type:none;
}

abbr {
    cursor:help;
}

label,button,.button,a,.nav .disabled {
    cursor:pointer;
}

input[type=button],input[type=submit] {
    cursor:pointer;
}

*:hover,*:active,*:focus {
    outline:none;
}

blockquote,q {
    quotes:none;
}

.icon:before {
    speak:none;
}

q:before,q:after,
blockquote:before,blockquote:after {
    content:""; content:none;
}

img {
    -ms-interpolation-mode:bicubic;
}

* html {
    filter:expression(document.execCommand("BackgroundImageCache",false,true));
}

input[type=search] {
    -webkit-appearance: none;
}

button::-moz-focus-inner {
    border:0; padding:0;
}

input::-moz-focus-inner {
    border:0; padding:2px;
}

@font-face {
    font-family:'FontAwesome';
    src:url('../font/fontawesome-webfont.eot');
    src:url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/fontawesome-webfont.woff') format('woff'),
        url('../font/fontawesome-webfont.ttf')  format('truetype'),
        url('../font/fontawesome-webfont.svg#svgFontName') format('svg');
}

body,h1,h2,h3,h4,h5,h6 {
    text-rendering:optimizeLegibility;
}

body {
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
}

body,p,button,input,select,textarea {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}

pre,code,kbd,samp {
    font-family:Menlo,Monaco,"Courier New",monospace;
}

.icon {
    font-family:FontAwesome;
}

i,dfn,em,figcaption,cite {
    font-style:italic;
}

address,cite,legend {
    font-style:inherit;
    white-space:inherit;
}

.nav li,.label {
    white-space:nowrap;
}

pre {
    white-space:pre;
    white-space:pre-wrap;
}

.left li,.right li {
    white-space:normal;
}

pre {
    word-break:break-all;
    word-wrap:break-word;
}

b,th,strong,h1,h2,h3,h4,h5,h6,dt,.label,.fatty,.panel .header,.tags .blocks a,.tags .blocks .disabled,.pipes .stat a,.menu .links li,.site-header-ghost .nav a,.site-header .nav a,.tabs .active a {
    font-weight:700;
}

blockquote p,.menu .header {
    font-weight:300;
}

small,.pipes .stat span {
    font-weight:normal;
}

body {
    font-size:13px;
}

h1 {
    font-size:230%;
}

h2 {
    font-size:185%;
}

.tags .cloud .tag5 {
    font-size:180%;
}

.tags .cloud .tag4 {
    font-size:160%;
}

h3,.pipes .stat a,.tags .cloud .tag3 {
    font-size:140%;
}

.tags .cloud .tag2,blockquote p,.site-header .nav a,.site-header-ghost .nav a {
    font-size:120%;
}

.panel .header {
    font-size:113%;
}

.fatty {
    font-size:110%;
}

h4,.menu .nav a,.menu .nav .disabled {
    font-size:106%;
}

p,button,.button,input,select,textarea,small,.icon,.tags .cloud .tag1 {
    font-size:100%;
}

abbr,.label,pre,code,kbd,samp,table,h4 small,h5 {
    font-size:95%;
}

h6,p small,sub,sup,.menu .header .nav a {
    font-size:85%;
}

h2 small,h3 small {
    font-size:75%;
}

.tiny,.pipes .stat span {
    font-size:70%;
}

h1 small {
    font-size:60%;
}

.tabs .nav a {
    line-height:270%;
}

h6 {
    line-height:170%;
}

body,input,button,.button,select,address,dt,dd,li,p,h2,h3,h5,pre {
    line-height:150%;
}

table input {
    line-height:135%;
}

h4,.pipes li,.panel .footer {
    line-height:130%;
}

.label,h1 {
    line-height:120%;
}

.menu a,.menu .disabled,.panel .header {
    line-height:110%;
}

td,th,small,.tiny {
    line-height:100%;
}

sub,sup {
    line-height:0;
}

.button .icon {
    line-height:16px;
}

.tags .nav li {
    line-height:19px;
}

.tags .nav a {
    line-height:inherit;
}

.icon-16 {
    font-size:14px;
    line-height: 16px;
}

.icon-32 {
    font-size:28px;
    line-height:32px;
}

.icon-64 {
    font-size:56px;
    line-height:64px;
}

.icon-128 {
    font-size:112px;
    line-height:128px;
}

h6,abbr,.tiny {
    text-transform:uppercase;
}

a:hover {
    text-decoration:underline;
}

del {
    text-decoration:line-through;
}

ins,a,.nav a:hover,.button:hover,.collapse-trigger a:hover {
    text-decoration:none;
}

.tiny {
    letter-spacing:1px;
}

th,td,button,.button,input,select,.radio,.checkbox {
    vertical-align:bottom;
    *vertical-align:middle;
}

.icon,textarea,td img {
    vertical-align:top;
}

.radio,.checkbox,.icon-16,.icon-32,.icon-64,.icon-128,.button .icon {
    vertical-align:middle;
}

sub,sup,.label {
    vertical-align:baseline;
}

table.box-header th {
    background-color:#3981a7;
    color:#fff;
}

code,.files .tree a:hover {
    border-color:#e1e1e8;
}

.pipes li,.outline,.outline-header th,.icon-border {
    border-color:#333;
}

.datasheet th,.files .tree a {
    border-color:#fff;
}

fieldset {
    border-color:#c0c0c0;
}

hr {
    border-bottom-color:#fff;
}

.datasheet th {
    border-right-color:#ccc;
    border-bottom-color:#ccc;
}

.site-header,.site-header-fixture {
    background:#2d3538;
}

.tags .blocks li.disabled,.tags .blocks a {
    background:#e5e5e0;
}

.tags .blocks a:hover{
    background:#dcdcd5;
}

input:invalid,textarea:invalid {
    background:#f0dddd;
}

pre code {
    background:none;
}

ins {
    background:#ff9;
}

mark {
    background:#ff0;
}

body,.site-footer,.site-footer-fixture,pre,button,.panel .footer,.button,.menu .stat a:hover,.files .tree a:hover,.panel .header,.datasheet th,code,.menu .active a,.tab-block .body, .tab-block .body .tabs .nav a,.menu .active a:hover,.menu .links .active a:hover {
    background-color:#f7f7f9;
}

table,.site-body,.panel,.menu .links a:hover,.tabs .nav a,.tab-block .tabs .nav .active a,.tab-content,.tab-block .panel .body,.tabs .nav .active a:hover {
    background-color:#fff;
}

.menu-tabs .menu a:hover {
    background:#15628e;
}

.label {
    background:#999;
}

.masthead,.menu a:hover,.menu-tabs .menu .nav,.menu-tabs .active a,.menu-tabs .tabs .nav .active a,.menu-tabs .active a:hover,.menu-tabs .tabs .active a:hover {
    background:#3981a7;
}

.pagination a {
    background:url('../../../img/alpha-w-60.png');
    _background:none;
}

.pagination a:hover,.pagination a:focus,.hovered-button,.button:hover {
    background-image:url('../../../img/alpha-10.png');
    _background:#eee;
}

.files .tree a {
    background:url("../../../img/icon-file.gif") 5px 50% no-repeat;
}

.files .tree .collapse-trigger {
    background:url("../../../img/icon-folder-open.gif") 5px 50% no-repeat;
}

.files .tree .collapsed .collapse-trigger {
    background:url("../../../img/icon-folder.gif") 5px 50% no-repeat;
}

.site-header .nav a:hover {
    color:#8b8d8f;
}

.site-header .nav a {
    color:#717376;
} 

.tiny {
    color:#ccc;
}

h6,small,.label,.menu .text {
    color:#999;
}

input,textarea,.typ,.atn,.dec,.var {
    color:#808080;
}

code {
    color:#d14;
}

pre code {
    color:inherit;
}

body,select,input,textarea,.nav a,.nav a:hover,button,.button,.button:hover,.menu .active a,.menu .active a:hover,.tabs .active a,.tabs .active a:hover {
    color:#333;
}

.menu .links a,a,.pipes a,.menu .stat a {
    color:#4090ba;
}

a:hover,.menu .links a:hover,.pipes a:hover,.menu .stat a:hover,.tags .cloud a:hover {
    color:#337394;
}

.tags .disabled,.tabs a, .tags a,.tags a:hover {
    color:#686867;
}

.masthead,table.box-header th,.label,.menu a:hover,.site-header,.site-header .nav .active a,.site-header .nav .active a:hover,.menu-tabs .menu a, .menu-tabs .active a, .menu-tabs .active a:hover {
    color:#fff;
}

.lit {
    color:#195f91;
}

.com,.pun,.opn,.clo {
    color:#93a1a1;
}

.fun {
    color:#dc322f;
}

.str, .atv {
    color:#D14;
}

.kwd, .prettyprint .tag {
    color:#1e347b;
}

.pln {
    color:#48484c;
}

:-moz-placeholder {
    color:#999;
}

::-webkit-input-placeholder {
    color:#999;
}

::-moz-selection {
    background:#0050A3; color:#fff; text-shadow:none;
}

::selection {
    background:#0050A3; color:#fff; text-shadow:none;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
    outline:thin dotted #333;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px;
}

input:focus,textarea:focus {
    border-color:rgba(82,168,236,0.8);
    outline:0;
}

[disabled],[readonly] {
    cursor:not-allowed;
    background-color:#eeeeee;
}

.background-blue {
    background:#15628e !important;
}

.background-green {
    background:#46a546 !important;
}

.background-red {
    background:#9d261d !important;
}

.background-yellow {
    background:#ffc40d !important;
}

.background-orange {
    background:#f89406 !important;
}

.background-pink {
    background:#f49ac1 !important;
}

.background-purple {
    background:#7a43b6 !important;
}

.background-grey {
    background:#999 !important;
}

.background-black {
    background:#333 !important;
}

.background-white {
    background:#fff !important;
}

.background-blue,.background-green,.background-red,.background-yellow,.background-orange,.background-pink,.background-purple,.background-grey,.background-black {
    color:#fff !important;
}

.color-blue {
    color:#15628e !important;
}

.color-green {
    color:#46a546 !important;
}

.color-red {
    color:#9d261d !important;
}

.color-yellow {
    color:#ffc40d !important;
}

.color-orange {
    color:#f89406 !important;
}

.color-pink {
    color:#c3325f !important;
}

.color-purple {
    color:#7a43b6 !important;
}

.color-grey {
    color:#999 !important;
}

.color-black {
    color:#333 !important;
}

.color-white {
    color:#fff !important;
}

::selection {
    background:#15628e;
}

::-moz-selection {
    background:#15628e;
}

html {
    -webkit-tap-highlight-color:rgba(255,255,255,0);
}

a {
    -webkit-tap-highlight-color:#15628e;
}

.gradient {
    background-image:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image:-moz-linear-gradient(top, rgba(234,234,234,0) 0%, rgba(0,0,0,0.15) 100%);
    background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(234,234,234,0)), color-stop(100%,rgba(0,0,0,0.15)));
    background-image:-webkit-linear-gradient(top, rgba(234,234,234,0) 0%,rgba(0,0,0,0.15) 100%);
    background-image:-o-linear-gradient(top, rgba(234,234,234,0) 0%,rgba(0,0,0,0.15) 100%);
    background-image:-ms-linear-gradient(top, rgba(234,234,234,0) 0%,rgba(0,0,0,0.15) 100%);
    background-image:linear-gradient(top, rgba(234,234,234,0) 0%,rgba(0,0,0,0.15) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eaeaea', endColorstr='#26000000',GradientType=0 );
}

.block th, .block td {
    padding:10px 20px;
}

.condensed th, .condensed td {
    padding:4px 5px;
}

.datasheet td,.datasheet th {
    padding:2px 4px;
}

.outline-header th {
    font-size:14px;
    line-height:14px;
}

.datasheet th {
    line-height:16px;
    height:18px;
}

.datasheet tbody th {
    text-align:right;
}

.uppercase-header th {
    text-transform:uppercase;
}

.box-header th {
    border-left-width:0;
    border-right-width:0;
}

.box-header th,.outline td,.outline th {
    border-bottom-width:0;
}

.outline tr :last-child {
    border-right-width:0;
}

.block th, .block td {
    border-width:0 1px 0 0;
}

table.box {
    border-width:1px;
}

.header-border thead td,.header-border thead th {
    border-bottom-width:1px;
}

table.block  {
    border-width:1px 0 1px 1px;
}

.datasheet td,.datasheet th {
    border-width:1px;
}

table.border,table.datasheet {
    border-width:1px 0 0 1px;
}

.datasheet td,.border th,.border td {
    border-width:0 1px 1px 0;
}

.box-header thead tr {
    border-width:0 0 1px 0;
}

table.outline {
    border-width:2px;
}

.horizontal-border th, .horizontal-border td {
    border-bottom-width:1px;
}

.outline-header thead td,.outline-header thead th {
    border-bottom-width:2px;
}

.border .body {
    border-bottom-width:0;
}

.border .body,.block .body {
    border-right-width:0;
}

input,textarea,select,code,.label,.icon {
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

.menu-tabs .menu a,.icon-64 {
    -webkit-border-radius:4px;
    -moz-radius:4px;
    border-radius:4px;
}

button,.button,.button-group,.tags .blocks a,.pagination a,.tags .blocks li.disabled,.icon-128,.files .tree a:hover {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}


pre {
    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;
}
.button-group .button {
    -webkit-border-radius:0;
    -moz-radius:0;
    border-radius:0;
}


.button-group .button:first-child {
    -webkit-border-radius:5px 0 0 5px;
    -moz-border-radius:5px 0 0 5px;
    border-radius:5px 0 0 5px;
}

.button-group .button:last-child {
    -webkit-border-radius:0 5px 5px 0;
    -moz-border-radius:0 5px 5px 0;
    border-radius:0 5px 5px 0;
}

.menu .collapse-trigger {
    -moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
    border-radius:0 !important;
}

.tabs a {
    -webkit-border-radius:4px 4px 0 0;
    -moz-radius:4px 4px 0 0;
    border-radius:4px 4px 0 0;
}

.tabs .bottom a {
    -webkit-border-radius:0 0 4px 4px;
    -moz-radius:0 0 4px 4px;
    border-radius:0 0 4px 4px;
}

.tabs .left a {
    -webkit-border-radius:4px 0 0 4px;
    -moz-radius:4px 0 0 4px;
    border-radius:4px 0 0 4px;
}

.tabs .right a {
    -webkit-border-radius:0 4px 4px 0;
    -moz-radius:0 4px 4px 0;
    border-radius:0 4px 4px 0;
}

.panel, .panel > :first-child, .panel > :first-child > :first-child {
    -webkit-border-top-left-radius:8px;
    -moz-border-radius-topleft:8px;
    border-top-left-radius:8px;
    -webkit-border-top-right-radius:8px;
    -moz-border-radius-topright:8px;
    border-top-right-radius:8px;
}

.panel, .panel > :last-child, .panel > :last-child > :last-child, .collapsed:last-child > .collapse-trigger {
    -webkit-border-bottom-left-radius:8px;
    -moz-border-radius-bottomleft:8px;
    border-bottom-left-radius:8px;
    -webkit-border-bottom-right-radius:8px;
    -moz-border-radius-bottomright:8px;
    border-bottom-right-radius:8px;
}

.panel, pre {
    -moz-box-shadow:0 0 3px rgba(0,0,0,.1);
    -webkit-box-shadow:0 0 3px rgba(0,0,0,.1);
    box-shadow:1px 2px 3px rgba(0,0,0,.05);
}

.site-header {
    -webkit-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    -moz-box-shadow:0 1px 2px rgba(0,0,0,0.2);
    box-shadow:0 1px 2px rgba(0,0,0,0.2);
}

input:focus,
textarea:focus {
    -webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    -moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
    box-shadow:inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
}

button,.button,.button-group {
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

input[type="image"],input[type="file"],input[type="file"]:focus,input[type="radio"]:focus,input[type="checkbox"]:focus,select:focus,
td input {
    -webkit-box-shadow:none !important;
    -moz-box-shadow:none !important;
    box-shadow:none !important;
}

input,textarea {
    -webkit-transition:border linear 0.2s,box-shadow linear 0.2s;
    -moz-transition:border linear 0.2s,box-shadow linear 0.2s;
    -ms-transition:border linear 0.2s,box-shadow linear 0.2s;
    -o-transition:border linear 0.2s,box-shadow linear 0.2s;
    transition:border linear 0.2s,box-shadow linear 0.2s;
}

.spin {
    -moz-animation:spin 2s infinite linear;
    -o-animation:spin 2s infinite linear;
    -webkit-animation:spin 2s infinite linear;
    animation:spin 2s infinite linear;
}
@-moz-keyframes spin {
    0% { -moz-transform:rotate(0deg); }
100% { -moz-transform:rotate(359deg); }
}
@-webkit-keyframes spin {
    0% { -webkit-transform:rotate(0deg); }
100% { -webkit-transform:rotate(359deg); }
}
@-o-keyframes spin {
    0% { -o-transform:rotate(0deg); }
100% { -o-transform:rotate(359deg); }
}
@-ms-keyframes spin {
    0% { -ms-transform:rotate(0deg); }
100% { -ms-transform:rotate(359deg); }
}
@keyframes spin {
    0% { transform:rotate(0deg); }
100% { transform:rotate(359deg); }
}

@media (min-width:1200px) {
    .site-center {
        width:1160px;
    }
    .cell{
        margin:15px;
    }
}

@media (min-width:768px) and (max-width:979px) {
    .site-center {
        width:704px;
    }
}

@media (max-width:767px) {
    .site-header,.site-footer {
        position: relative !important;
    }

    .site-header-ghost {
        display: none !important;
    }

    main,section,article,header,footer,aside,nav,.col,
    main.width-fit,main.width-fill,
    section.width-fit,section.width-fill,
    article.width-fit,article.width-fill,
    header.width-fit,header.width-fill,
    footer.width-fit,footer.width-fill,
    aside.width-fit,aside.width-fill,
    nav.width-fit,nav.width-fill,
    .col.width-fit,.col.width-fill {
        padding:0 !important;
        display:block !important;
        float:left !important;
        width:100% !important;
    }

    .site-center,.site-body,.site-header,.site-footer,.site-center > .body {
        margin:0 !important;
        width:100% !important;
        border:none !important;
        -webkit-box-shadow:none !important;
        -moz-box-shadow:none !important;
        box-shadow:none !important;
        -webkit-border-radius: 0 !important;
        -moz-border-radius: 0 !important;
        border-radius: 0 !important;
    }

    .center {
        float:none !important;
    }
}


/* =============================================================================
   width-fit and width-fill support for mobile
   ========================================================================== */

@media (max-width: 767px) {
	main.mobile-width-fill,
    section.mobile-width-fill,
    article.mobile-width-fill,
    header.mobile-width-fill,
    footer.mobile-width-fill,
    aside.mobile-width-fill,
    nav.mobile-width-fill,
    .col.mobile-width-fill {display:table-cell !important;float:none!important;min-width:50px!important;width:10000px!important;}
	main.mobile-width-fit,
    section.mobile-width-fit,
    article.mobile-width-fit,
    header.mobile-width-fit,
    footer.mobile-width-fit,
    aside.mobile-width-fit,
    nav.mobile-width-fit,
    .col.mobile-width-fit {width:auto!important;}

    .mobile-center {
        float:none !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
	main.mobile-width-fill,
    section.tablet-width-fill,
    article.tablet-width-fill,
    header.tablet-width-fill,
    footer.tablet-width-fill,
    aside.tablet-width-fill,
    nav.tablet-width-fill,
    .col.tablet-width-fill {display:table-cell !important;float:none!important;min-width:50px!important;width:10000px!important;}
	main.mobile-width-fill,
    section.tablet-width-fit,
    article.tablet-width-fit,
    header.tablet-width-fit,
    footer.tablet-width-fit,
    aside.tablet-width-fit,
    nav.tablet-width-fit,
    .col.tablet-width-fit {width:auto!important;}

    .tablet-center {
        float:none !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
}

@media (max-width: 480px) {
	main.phone-width-fill,
    section.phone-width-fill,
    article.phone-width-fill,
    header.phone-width-fill,
    footer.phone-width-fill,
    aside.phone-width-fill,
    nav.phone-width-fill,
    .col.phone-width-fill {display:table-cell !important;float:none!important;min-width:50px!important;width:10000px!important;}
    main.phone-width-fit,
    section.phone-width-fit,
    article.phone-width-fit,
    header.phone-width-fit,
    footer.phone-width-fit,
    aside.phone-width-fit,
    nav.phone-width-fit,
    .col.phone-width-fit {width:auto!important;}

    .phone-center {
        float:none !important;
        margin-left:auto !important;
        margin-right:auto !important;
    }
}

.width-1of24{width:4.1666666%;}
.width-1of16{width:6.25%;}
.width-1of12,.width-2of24{width:8.3333333%;}
.width-1of10{width:10%;}
.width-1of9{width:11.1111111%;}
.width-1of8,.width-2of16,.width-3of24{width:12.5%;}
.width-1of7{width:14.2857143%;}
.width-1of6,.width-2of12,.width-4of24{width:16.6666666%;}
.width-3of16{width:18.75%;}
.width-1of5,.width-2of10{width:20%;}
.width-5of24{width:20.8333333%;}
.width-2of9{width:22.2222222%;}
.width-1of4,.width-2of8,.width-3of12,.width-4of16,.width-6of24{width:25%;}
.width-2of7{width:28.5714286%;}
.width-7of24{width:29.1666666%;}
.width-3of10{width:30%;}
.width-5of16{width:31.25%;}
.width-1of3,.width-2of6,.width-3of9,.width-4of12,.width-8of24{width:33.3333333%;}
.width-3of8,.width-6of16,.width-9of24{width:37.5%;}
.width-2of5,.width-4of10{width:40%;}
.width-5of12,.width-10of24{width:41.6666666%;}
.width-3of7{width:42.8571429%;}
.width-7of16{width:43.75%;}
.width-4of9{width:44.4444444%;}
.width-11of24{width:45.8333333%;}
.width-1of2,.width-2of4,.width-3of6,.width-4of8,.width-5of10,.width-6of12,.width-8of16,.width-12of24{width:50%;}
.width-13of24{width:54.1666666%;}
.width-5of9{width:55.5555555%;}
.width-9of16{width:56.25%;}
.width-4of7{width:57.1428572%;}
.width-7of12,.width-14of24{width:58.3333333%;}
.width-3of5,.width-6of10{width:60%;}
.width-5of8,.width-10of16,.width-15of24{width:62.5%;}
.width-2of3,.width-4of6,.width-6of9,.width-8of12,.width-16of24{width:66.6666666%;}
.width-11of16{width:68.75%;}
.width-7of10{width:70%;}
.width-17of24{width:70.8333333%;}
.width-5of7{width:71.4285715%;}
.width-3of4,.width-6of8,.width-9of12,.width-12of16,.width-18of24{width:75%;}
.width-7of9{width:77.7777777%;}
.width-19of24{width:79.1666666%;}
.width-4of5,.width-8of10{width:80%;}
.width-13of16{width:81.25%;}
.width-5of6,.width-10of12,.width-20of24{width:83.3333333%;}
.width-6of7{width:85.7142858%;}
.width-7of8,.width-14of16,.width-21of24{width:87.5%;}
.width-8of9{width:88.8888888%;}
.width-9of10{width:90%;}
.width-11of12,.width-22of24{width:91.6666666%;}
.width-15of16{width:93.75%;}
.width-23of24{width:95.8333333%;}

@media (max-width: 767px) {
    .mobile-width-1of24{width:4.1666666% !important;}
    .mobile-width-1of16{width:6.25% !important;}
    .mobile-width-1of12,.mobile-width-2of24{width:8.3333333% !important;}
    .mobile-width-1of10{width:10% !important;}
    .mobile-width-1of9{width:11.1111111% !important;}
    .mobile-width-1of8,.mobile-width-2of16,.mobile-width-3of24{width:12.5% !important;}
    .mobile-width-1of7{width:14.2857143% !important;}
    .mobile-width-1of6,.mobile-width-2of12,.mobile-width-4of24{width:16.6666666% !important;}
    .mobile-width-3of16{width:18.75% !important;}
    .mobile-width-1of5,.mobile-width-2of10{width:20% !important;}
    .mobile-width-5of24{width:20.8333333% !important;}
    .mobile-width-2of9{width:22.2222222% !important;}
    .mobile-width-1of4,.mobile-width-2of8,.mobile-width-3of12,.mobile-width-4of16,.mobile-width-6of24{width:25% !important;}
    .size2of7{width:28.5714286% !important;}
    .mobile-width-7of24{width:29.1666666% !important;}
    .mobile-width-3of10{width:30% !important;}
    .mobile-width-5of16{width:31.25% !important;}
    .mobile-width-1of3,.mobile-width-2of6,.mobile-width-3of9,.mobile-width-4of12,.mobile-width-8of24{width:33.3333333% !important;}
    .mobile-width-3of8,.mobile-width-6of16,.mobile-width-9of24{width:37.5% !important;}
    .mobile-width-2of5,.mobile-width-4of10{width:40% !important;}
    .mobile-width-5of12,.mobile-width-10of24{width:41.6666666% !important;}
    .mobile-width-3of7{width:42.8571429% !important;}
    .mobile-width-7of16{width:43.75% !important;}
    .mobile-width-4of9{width:44.4444444% !important;}
    .mobile-width-11of24{width:45.8333333% !important;}
    .mobile-width-1of2,.mobile-width-2of4,.mobile-width-3of6,.mobile-width-4of8,.mobile-width-5of10,.mobile-width-6of12,.mobile-width-8of16,.mobile-width-12of24{width:50% !important;}
    .mobile-width-13of24{width:54.1666666% !important;}
    .mobile-width-5of9{width:55.5555555% !important;}
    .mobile-width-9of16{width:56.25% !important;}
    .mobile-width-4of7{width:57.1428572% !important;}
    .mobile-width-7of12,.mobile-width-14of24{width:58.3333333% !important;}
    .mobile-width-3of5,.mobile-width-6of10{width:60% !important;}
    .mobile-width-5of8,.mobile-width-10of16,.mobile-width-15of24{width:62.5% !important;}
    .mobile-width-2of3,.mobile-width-4of6,.mobile-width-6of9,.mobile-width-8of12,.mobile-width-16of24{width:66.6666666% !important;}
    .mobile-width-11of16{width:68.75% !important;}
    .mobile-width-7of10{width:70% !important;}
    .mobile-width-17of24{width:70.8333333% !important;}
    .mobile-width-5of7{width:71.4285715% !important;}
    .mobile-width-3of4,.mobile-width-6of8,.mobile-width-9of12,.mobile-width-12of16,.mobile-width-18of24{width:75% !important;}
    .mobile-width-7of9{width:77.7777777% !important;}
    .mobile-width-19of24{width:79.1666666% !important;}
    .mobile-width-4of5,.mobile-width-8of10{width:80% !important;}
    .mobile-width-13of16{width:81.25% !important;}
    .mobile-width-5of6,.mobile-width-10of12,.mobile-width-20of24{width:83.3333333% !important;}
    .mobile-width-6of7{width:85.7142858% !important;}
    .mobile-width-7of8,.mobile-width-14of16,.mobile-width-21of24{width:87.5% !important;}
    .mobile-width-8of9{width:88.8888888% !important;}
    .mobile-width-9of10{width:90% !important;}
    .mobile-width-11of12,.mobile-width-22of24{width:91.6666666% !important;}
    .mobile-width-15of16{width:93.75% !important;}
    .mobile-width-23of24{width:95.8333333% !important;}
}

@media (min-width: 481px) and (max-width: 767px) {
    .tablet-width-1of24{width:4.1666666% !important;}
    .tablet-width-1of16{width:6.25% !important;}
    .tablet-width-1of12,.tablet-width-2of24{width:8.3333333% !important;}
    .tablet-width-1of10{width:10% !important;}
    .tablet-width-1of9{width:11.1111111% !important;}
    .tablet-width-1of8,.tablet-width-2of16,.tablet-width-3of24{width:12.5% !important;}
    .tablet-width-1of7{width:14.2857143% !important;}
    .tablet-width-1of6,.tablet-width-2of12,.tablet-width-4of24{width:16.6666666% !important;}
    .tablet-width-3of16{width:18.75% !important;}
    .tablet-width-1of5,.tablet-width-2of10{width:20% !important;}
    .tablet-width-5of24{width:20.8333333% !important;}
    .tablet-width-2of9{width:22.2222222% !important;}
    .tablet-width-1of4,.tablet-width-2of8,.tablet-width-3of12,.tablet-width-4of16,.tablet-width-6of24{width:25% !important;}
    .size2of7{width:28.5714286% !important;}
    .tablet-width-7of24{width:29.1666666% !important;}
    .tablet-width-3of10{width:30% !important;}
    .tablet-width-5of16{width:31.25% !important;}
    .tablet-width-1of3,.tablet-width-2of6,.tablet-width-3of9,.tablet-width-4of12,.tablet-width-8of24{width:33.3333333% !important;}
    .tablet-width-3of8,.tablet-width-6of16,.tablet-width-9of24{width:37.5% !important;}
    .tablet-width-2of5,.tablet-width-4of10{width:40% !important;}
    .tablet-width-5of12,.tablet-width-10of24{width:41.6666666% !important;}
    .tablet-width-3of7{width:42.8571429% !important;}
    .tablet-width-7of16{width:43.75% !important;}
    .tablet-width-4of9{width:44.4444444% !important;}
    .tablet-width-11of24{width:45.8333333% !important;}
    .tablet-width-1of2,.tablet-width-2of4,.tablet-width-3of6,.tablet-width-4of8,.tablet-width-5of10,.tablet-width-6of12,.tablet-width-8of16,.tablet-width-12of24{width:50% !important;}
    .tablet-width-13of24{width:54.1666666% !important;}
    .tablet-width-5of9{width:55.5555555% !important;}
    .tablet-width-9of16{width:56.25% !important;}
    .tablet-width-4of7{width:57.1428572% !important;}
    .tablet-width-7of12,.tablet-width-14of24{width:58.3333333% !important;}
    .tablet-width-3of5,.tablet-width-6of10{width:60% !important;}
    .tablet-width-5of8,.tablet-width-10of16,.tablet-width-15of24{width:62.5% !important;}
    .tablet-width-2of3,.tablet-width-4of6,.tablet-width-6of9,.tablet-width-8of12,.tablet-width-16of24{width:66.6666666% !important;}
    .tablet-width-11of16{width:68.75% !important;}
    .tablet-width-7of10{width:70% !important;}
    .tablet-width-17of24{width:70.8333333% !important;}
    .tablet-width-5of7{width:71.4285715% !important;}
    .tablet-width-3of4,.tablet-width-6of8,.tablet-width-9of12,.tablet-width-12of16,.tablet-width-18of24{width:75% !important;}
    .tablet-width-7of9{width:77.7777777% !important;}
    .tablet-width-19of24{width:79.1666666% !important;}
    .tablet-width-4of5,.tablet-width-8of10{width:80% !important;}
    .tablet-width-13of16{width:81.25% !important;}
    .tablet-width-5of6,.tablet-width-10of12,.tablet-width-20of24{width:83.3333333% !important;}
    .tablet-width-6of7{width:85.7142858% !important;}
    .tablet-width-7of8,.tablet-width-14of16,.tablet-width-21of24{width:87.5% !important;}
    .tablet-width-8of9{width:88.8888888% !important;}
    .tablet-width-9of10{width:90% !important;}
    .tablet-width-11of12,.tablet-width-22of24{width:91.6666666% !important;}
    .tablet-width-15of16{width:93.75% !important;}
    .tablet-width-23of24{width:95.8333333% !important;}
}

@media (max-width: 480px) {
    .phone-width-1of24{width:4.1666666% !important;}
    .phone-width-1of16{width:6.25% !important;}
    .phone-width-1of12,.phone-width-2of24{width:8.3333333% !important;}
    .phone-width-1of10{width:10% !important;}
    .phone-width-1of9{width:11.1111111% !important;}
    .phone-width-1of8,.phone-width-2of16,.phone-width-3of24{width:12.5% !important;}
    .phone-width-1of7{width:14.2857143% !important;}
    .phone-width-1of6,.phone-width-2of12,.phone-width-4of24{width:16.6666666% !important;}
    .phone-width-3of16{width:18.75% !important;}
    .phone-width-1of5,.phone-width-2of10{width:20% !important;}
    .phone-width-5of24{width:20.8333333% !important;}
    .phone-width-2of9{width:22.2222222% !important;}
    .phone-width-1of4,.phone-width-2of8,.phone-width-3of12,.phone-width-4of16,.phone-width-6of24{width:25% !important;}
    .size2of7{width:28.5714286% !important;}
    .phone-width-7of24{width:29.1666666% !important;}
    .phone-width-3of10{width:30% !important;}
    .phone-width-5of16{width:31.25% !important;}
    .phone-width-1of3,.phone-width-2of6,.phone-width-3of9,.phone-width-4of12,.phone-width-8of24{width:33.3333333% !important;}
    .phone-width-3of8,.phone-width-6of16,.phone-width-9of24{width:37.5% !important;}
    .phone-width-2of5,.phone-width-4of10{width:40% !important;}
    .phone-width-5of12,.phone-width-10of24{width:41.6666666% !important;}
    .phone-width-3of7{width:42.8571429% !important;}
    .phone-width-7of16{width:43.75% !important;}
    .phone-width-4of9{width:44.4444444% !important;}
    .phone-width-11of24{width:45.8333333% !important;}
    .phone-width-1of2,.phone-width-2of4,.phone-width-3of6,.phone-width-4of8,.phone-width-5of10,.phone-width-6of12,.phone-width-8of16,.phone-width-12of24{width:50% !important;}
    .phone-width-13of24{width:54.1666666% !important;}
    .phone-width-5of9{width:55.5555555% !important;}
    .phone-width-9of16{width:56.25% !important;}
    .phone-width-4of7{width:57.1428572% !important;}
    .phone-width-7of12,.phone-width-14of24{width:58.3333333% !important;}
    .phone-width-3of5,.phone-width-6of10{width:60% !important;}
    .phone-width-5of8,.phone-width-10of16,.phone-width-15of24{width:62.5% !important;}
    .phone-width-2of3,.phone-width-4of6,.phone-width-6of9,.phone-width-8of12,.phone-width-16of24{width:66.6666666% !important;}
    .phone-width-11of16{width:68.75% !important;}
    .phone-width-7of10{width:70% !important;}
    .phone-width-17of24{width:70.8333333% !important;}
    .phone-width-5of7{width:71.4285715% !important;}
    .phone-width-3of4,.phone-width-6of8,.phone-width-9of12,.phone-width-12of16,.phone-width-18of24{width:75% !important;}
    .phone-width-7of9{width:77.7777777% !important;}
    .phone-width-19of24{width:79.1666666% !important;}
    .phone-width-4of5,.phone-width-8of10{width:80% !important;}
    .phone-width-13of16{width:81.25% !important;}
    .phone-width-5of6,.phone-width-10of12,.phone-width-20of24{width:83.3333333% !important;}
    .phone-width-6of7{width:85.7142858% !important;}
    .phone-width-7of8,.phone-width-14of16,.phone-width-21of24{width:87.5% !important;}
    .phone-width-8of9{width:88.8888888% !important;}
    .phone-width-9of10{width:90% !important;}
    .phone-width-11of12,.phone-width-22of24{width:91.6666666% !important;}
    .phone-width-15of16{width:93.75% !important;}
    .phone-width-23of24{width:95.8333333% !important;}
}

.no-margin {
    margin : 0 !important;
}

.no-padding {
    padding : 0 !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-right .text, .float-left .text {
    float: left;
}

.border-bottom {
    border-bottom-width: 1px !important;
}

.border-left {
    border-left-width: 1px !important;
}

.border-right {
    border-right-width: 1px !important;
}

.border-top {
    border-top-width: 1px !important;
}

.no-border {
    border-width: 0 !important;
}

.width-full {
    width:100% !important;
}

.invisible {
    visibility: hidden !important;
    border: none !important;
}

.collapsed .collapse-section {
    position: absolute !important;
    top: -999999em !important;
    left: auto !important;
    width: 1px !important;
    height: 1px !important;
    overflow:hidden !important;
}

.collapse-section {
    overflow:hidden;
}

.hidden-tab,.collapsible .collapsed-only {
    display:none !important;
}

.collapsed .collapsed-only, .collapsible .uncollapsed-only {
    display:inline !important;
}

.collapsed .uncollapsed-only {
    display:none !important;
}

@media (min-width: 768px) {
    .desktop-hidden,.col.desktop-hidden {
        display:none !important;
    }
}

@media (max-width:767px) {
    .mobile-hidden,.col.mobile-hidden {
        display:none !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .tablet-hidden,.col.tablet-hidden {
        display:none !important;
    }
}

@media (max-width: 480px) {
    .phone-hidden {
        display:none !important;
    }
}

.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before,.icon-collapse:before { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before,.collapsed .icon-collapse:before { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }
.icon-lightbulb:before            { content: "\f0eb"; }
.icon-exchange:before             { content: "\f0ec"; }
.icon-cloud-download:before       { content: "\f0ed"; }
.icon-cloud-upload:before         { content: "\f0ee"; }

.icon-user-md:before              { content: "\f0f0"; }
.icon-stethoscope:before          { content: "\f0f1"; }
.icon-suitcase:before             { content: "\f0f2"; }
.icon-bell-alt:before             { content: "\f0f3"; }
.icon-coffee:before               { content: "\f0f4"; }
.icon-food:before                 { content: "\f0f5"; }
.icon-file-alt:before             { content: "\f0f6"; }
.icon-building:before             { content: "\f0f7"; }
.icon-hospital:before             { content: "\f0f8"; }
.icon-ambulance:before            { content: "\f0f9"; }
.icon-medkit:before               { content: "\f0fa"; }
.icon-fighter-jet:before          { content: "\f0fb"; }
.icon-beer:before                 { content: "\f0fc"; }
.icon-h-sign:before               { content: "\f0fd"; }
.icon-plus-sign-alt:before        { content: "\f0fe"; }

.icon-double-angle-left:before    { content: "\f100"; }
.icon-double-angle-right:before   { content: "\f101"; }
.icon-double-angle-up:before      { content: "\f102"; }
.icon-double-angle-down:before    { content: "\f103"; }
.icon-angle-left:before           { content: "\f104"; }
.icon-angle-right:before          { content: "\f105"; }
.icon-angle-up:before             { content: "\f106"; }
.icon-angle-down:before           { content: "\f107"; }
.icon-desktop:before              { content: "\f108"; }
.icon-laptop:before               { content: "\f109"; }
.icon-tablet:before               { content: "\f10a"; }
.icon-mobile-phone:before         { content: "\f10b"; }
.icon-circle-blank:before         { content: "\f10c"; }
.icon-quote-left:before           { content: "\f10d"; }
.icon-quote-right:before          { content: "\f10e"; }

.icon-spinner:before              { content: "\f110"; }
.icon-circle:before               { content: "\f111"; }
.icon-reply:before                { content: "\f112"; }
.icon-github-alt:before           { content: "\f113"; }
.icon-folder-close-alt:before     { content: "\f114"; }
.icon-folder-open-alt:before      { content: "\f115"; }
