/*!
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 *               CASCADE FRAMEWORK 1.0
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 *
 * Copyright 2013, John Slegers
 * Released under the MIT license
 * http://jslegers.github.com/cascadeframework/license.html
 *
 *
 * This means you can use Cascade Framework for any project,
 * whether commercial or not.
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * 
 * Cascade Framework also contains the following goodies,
 * which all have the same or similar 'permissive licenses :
 *
 *
 * Includes polyfills by Joshua Bell
 * http://www.calormen.com/polyfill/
 * Released in public domain
 *
 *
 * Includes Google ExplorerCanvas
 * https://code.google.com/p/explorercanvas/
 * Released under the Apache 2.0 license
 *
 *
 * Includes Google Prettify
 * https://code.google.com/p/google-code-prettify/
 * Released under the Apache 2.0 license
 *
 *
 * Includes Yepnope
 * http://yepnopejs.com/
 * Released under the WTFPL license
 *
 *
 * Includes Modernizr
 * http://modernizr.com/
 * Released under the MIT license
 *
 *
 * Includes lodash
 * http://lodash.com/
 * Released under the MIT license
 *
 *
 * Includes jQuery
 * http://jquery.com/
 * Released under the MIT license
 *
 *
 * Includes jQuery Easing plugin
 * http://gsgd.co.uk/sandbox/jquery/easing/
 * Released under the BSD license
 *
 *
 * Includes jQuery Flot plugin
 * http://www.flotcharts.org/
 * Released under the MIT license
 *
 *
 * Includes the Font Awesome webfont
 * http://fortawesome.github.com/Font-Awesome/
 * Released under the SIL Open Font License
 *
 *
 *
 *
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *
 * Cascade Framework was inspired by many articles and projects
 * 
 * Especially these authors are worth mentioning :
 *             
 *             Nicolle Sullivan
 *             Jonathan Snook
 *             Chris Coyier
 *             Eric Meyer
 *             Nicolas Gallagher
 *             Paul Irish
 *             Mark Otto
 *             Jacob Thornton
 *
 *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 * Date: 2013-03-15
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
*/



.no-margin {
    margin : 0 !important;
}

.no-padding {
    padding : 0 !important;
}

.float-left {
    float: left !important;
}

.float-right {
    float: right !important;
}

.float-right .text, .float-left .text {
    float: left;
}

.border-bottom {
    border-bottom-width: 1px !important;
}

.border-left {
    border-left-width: 1px !important;
}

.border-right {
    border-right-width: 1px !important;
}

.border-top {
    border-top-width: 1px !important;
}

.no-border {
    border-width: 0 !important;
}

.width-full {
    width:100% !important;
}

.invisible {
    visibility: hidden !important;
    border: none !important;
}

.collapsed .collapse-section {
    position: absolute !important;
    top: -999999em !important;
    left: auto !important;
    width: 1px !important;
    height: 1px !important;
    overflow:hidden !important;
}

.collapse-section {
    overflow:hidden;
}
    
.hidden-tab,.collapsible .collapsed-only {
    display:none !important;
}

.collapsed .collapsed-only, .collapsible .uncollapsed-only {
    display:inline !important;
}

.collapsed .uncollapsed-only {
    display:none !important;
}

@media (min-width: 768px) {
    .desktop-hidden,.col.desktop-hidden {
        display:none !important;
    }
}

@media (max-width:767px) {
    .mobile-hidden,.col.mobile-hidden {
        display:none !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .tablet-hidden,.col.tablet-hidden {
        display:none !important;
    }
}

@media (max-width: 480px) {
    .phone-hidden {
        display:none !important;
    }
}